/* parent */
.parent[data-v-24282010] {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* sidebar (first child) */
/* .sidebar {
    width: 25%;  
    color: #c4c3d0;
    height: 100%;
} */

/* .el-container {

} */

.el-aside {
    height:100%;
}

.ulwidth
{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right:0;
}

.toggle-button {
    color: #6a62f5;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    cursor: pointer;
}

.ulwidth .el-menu-item{
    overflow: hidden;
    border-radius: 10px;
    color: #c4c3d0;
    font-weight: bold;
}

/* .sidebar .el-menu-item:hover
{
    background-color:#efeffe;
} */

.sidebar .el-menu .el-menu-item:hover
{
    color:#6a62f5;
}

/* .sidebarcontent
{
    width:100%;
    height:100%;
} */
/* sidebar (first child end) */

/* second child start */
.secondChild {
    /* background-color: red; */
    background-color: #f7f7fc;
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100%;
}

/* top-nav  */
.topMenu {
    /* height: 7%; */
    width: 100%;
    /* background-color: green; */
}

.topbarcontent
{
    background-color: white;
    display: flex;
}

.topbarcontent .el-menu-item{
    color: #c4c3d0;
    font-weight: bold;
}

.topbarcontent .el-menu-item:hover
{
    color: #6a62f5;
    border-radius: 10px;
    background-color: #efeffe;
}

.topMenu .el-menu .el-menu-item[data-v-24282010]:hover {
    color: #6a62f5;
}

.el-menu--horizontal.el-menu {
    border-bottom: 0;
}

.top-nav-right {
    margin-left: auto;
}


/* content */
.content_parent {
    width:100%;
    /* height: 100%;  */
    background-color: #f7f7fc;
    display: flex;
    justify-content:center;
}

/* .content_parent .el-form {
    width: 50%;
} */

/* sub content */
.content_child {
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin: 50px;
    padding: 30px;
    /* padding-top: 60px; */
    /* width: 50%; */
    height: auto;
    background-color: white;
    border-radius: 10px; 
    /* position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 30px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 80vh;
    overflow-y: auto;
    max-width: 350px;
    width: 100%; */
}

.content_child .content_sub_child {
    display: flex;
    justify-content: center;
}

.content_child .content_sub_child table{
    border: 1px solid #000;
    border-collapse: collapse;
    width: 100%;
}

.content_child .content_sub_child th{
    border: 1px solid #fffdfd;
}

.content_child .content_sub_child td{
    border: 1px solid #000;
}

/* form */
.formLabel {
    font-size: 24px;
    font-weight: bold;
    color: #6a62f5;
    padding-bottom: 20px;
}

.el-form-item__label {
    display: flex;
    justify-content:flex-start;
    font-weight: bold;
    color:#6a62f5;

}

/* .content_child .content_sub_child table start */
.content_child .content_sub_child table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
}

/* Style the table header */
.content_child .content_sub_child table th {
    background-color:#6a62f5;
    opacity: 80%;
    color: white;
    text-align:center;
    padding: 12px;
}

/* Style the table cells */
.content_child .content_sub_child table td {
    border: 1px solid #ddd;
    padding: 10px;
}

/* Add alternating row colors for better readability */
.content_child .content_sub_child table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Add hover effect to table rows */
.content_child .content_sub_child table tr:hover {
    background-color: #f5f5f5;
}

/* Add spacing between table cells */
.content_child .content_sub_child table td,
.content_child .content_sub_child table th {
padding: 6px;
}

/* Add a border to the table */
.content_child .content_sub_child table {
    border: 2px solid #ddd;
    border-radius: 6px;
}
/* .content_child .content_sub_child table end */

/* Styles for the admin form */
.adminForm {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}

.adminForm input {
    width: 150px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.adminForm button {
    padding: 8px 10px;
    background-color: #6a62f5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Hover effect for the button */
.adminForm button:hover {
    background-color: #2980b9;
}

/* Table styles */
.el-table {
    width: 800px;
    margin-top: 20px;
    border:1px solid #ccc;
    color: #232323;
}

/* Table cell styles */
.el-table .el-table__cell {
    padding: 10px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    text-align: center;
    z-index: var(--el-table-index);
    border: 1px solid #ccc; /* Add border */
}

/* Table header styles */
.el-table .el-table__header th {
    padding: 10px;
    text-align: center;
    background-color: #f1f1f7;
    border: 1px solid #ccc;
    color: #333232;
}


/* Hover effect for table rows */
.el-table .el-table__row:hover {
    background-color: #f2f2f2;
}